body { background: #383838; }

table { 
    border-collapse: collapse;
    margin-left:auto;
    margin-right: auto;
}

th {
    font-family: fantasy;
    background-color: #FF0D00;
}

td {
    background-color: #FFED18;
}

table, th, td {
    border: 1px solid #FF0D00;
}

th, td {
    padding: 15px;
    text-align: left;
}

.map{
    border-style: solid;
    
    border-width: thick;
    
}
