body { background: #383838; }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

h1 {
    font-family: fantasy;
    color: #FF0D00;
    outline-style: solid;
    text-align: center;
}

p {
    color: #FFED18;
    outline-style: solid;
    text-align: center;
}

a:link {
    color: #FF0D00; 
}

a:visited {
    color: #FFED18;
}
