ul.menu {
  list-style-type: none;
}
ul.menu {
  padding: 5px;
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, sans-serif;
}
ul.menu a {
  height: 500px;
  line-height: 1000px;
  display: inline-block;
   /* padding-left: 200px; To sift text off the background-image */
  color: #3E789F;
  background: url("ThreeInOne.png") no-repeat; /* As all link share the same background-image */
}
ul.menu li.TwoOrMoreCombo a {
  width: 350px;
  background-position: 0 0px;
}
ul.menu li.PerfectCombo a {
  width: 350px;
  background-position: +355 0px;
}
ul.menu li.LargeFor12 a {
  width: 350px;
  background-position: 705 0px;
}
/*
ul.menu li.ie a:hover {
  background-position: 0 -250px;
}
ul.menu li.opera a:hover {
  background-position: 0 -450px;
}
ul.menu li.firefox a:hover {
  background-position: 0 -50px;
}
*/


