
.menu{
   /* background-image: url('ThreeInOne.png');*/
    background-repeat: no-repeat;
    height:400px;
   
  }
  


.TwoOrMoreCombo {
  left: 0px;
  width: 350px;
  height:400px;
  background: url('ThreeInOne.png') 0 0;
}

.PerfectCombo {
  left: 350px;
  width: 350px;
  height:400px;
  background: url('ThreeInOne.png') -350px 0;
  
}
