.btn.btn-lg.btn-primary.btn-block{
background-color: red !important;
	
}



.username{
	xolor:red;
}

button{
	color:red !important;
}

submit{
	color:red !important;
}


input[type=text] {
   border: 2px solid red;
  border-radius: 4px;
}