body {
  background-color: #383838;
}

/* Change header color, added border with backround and change font + font size */
h1{
	color:#FFED18;
	border-style: solid;
	border-color: #FF0D00;
	border-width: 5px;
	background-color: #FF0D00;
	font-family: "Arial Black", Gadget, sans-serif;
	 font-size: 400%;
	
}




/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  text-align: center;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  /*fix this, not good*/
  padding: 0;
  margin:0;
  vertical-align: middle;
  /*box is not responsive*/
  height: 25px;
  width: 25px;
  background-color: #808080;
}


/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


input[type="radio"] {
    display:none;
	
}

input[type="radio"] + label {
    color:#f2f2f2;
    font-family:Arial, sans-serif;
	
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -57px top no-repeat;
}

/*This is for the button shadow affect for continue shopping

*/
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 18px 12px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover{
  background-color: blue; 
}

.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 18px 12px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

/*makes table responsive*/
table {
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
  padding: 8px;
}

nav {
  margin: 0;
  padding: 5;
  overflow: hidden;
  background-color: black;
  
  position: fixed;
  top: 0;
  width: 100%;
}
 
  

  nav a{
  color: white;
  text-align: center;
  padding: 21px 19px;
  text-decoration: none;
  float: left;
  border-right:2px solid #bbb;

  }

a:hover:not(.active) {
  background-color: #FFED18;
}
.active {
  background-color: #FF0D00;
}

.toTheRight{
  float: right;
  width:  35px;
  height: 35px;
  position: relative;
  right: 50px;
}

